.formData {
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  /* margin: 0 20px; */
  margin-bottom: 30px;
  /* margin-top: 10px; */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 8px;
}
input:focus {
  border-color: black;
  outline: none;
  transition:all 0.2s;
}
span {
  color: red;
  font-size: 12px;
  display: block;
  margin-bottom: 10px;
}